.Rproj.user/*
.Rproj.user
.RData
.DS_Store
.Rhistory
README.md


resource/
resource/alltresults_c3.txt
resource/*
tools/PyCode/PyCode/*

test
tools/ohdsiConnection.R
app/model/
app/rsconnect
knowledgeBaseAnalysis/

packrat/
packrat/lib*/
redcap/
packrat/src/
